<!DOCTYPE html>
<html ng-app="football">
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/js/app.js"></script>


    <title>Codete Football</title>
</head>
<body>
<h1>Codete Football</h1>
<a ui-sref="home">home</a>
<a ui-sref="about">about</a>
<div ui-view></div>
</body>
</html>