<form class="form-horizontal" ng-submit="add()">
    <div growl-notifications></div>
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-3 control-label" for="datetimepicker">Date</label>
            <div class="col-md-3">
                <input ng-model="date" name="datetimepicker" type="text" placeholder="Date" class="form-control input-md" required="" id="datetimepicker">

            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="comment">Extra info</label>
            <div class="col-md-8">
                <textarea ng-model="comment" placeholder="" class="form-control" id="comment" name="comment"></textarea>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-3 control-label" for="singlebutton"></label>
            <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
            </div>
        </div>

    </fieldset>
</form>
<script>
    $('#datetimepicker').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        startDate: new Date()
    });
</script>