<div class="jumbotron ng-scope" ng-repeat="game in games">
    <div class="game-upper-buttons" ng-show="$root.me.admin">
        <button class="btn btn-default btn-xs game-set-score" ng-click="openSetScore()">Set score</button>
        <button class="btn btn-danger btn-xs game-remove" ng-click="remove(game)">X</button>
    </div>
    <h1>{{game.gameDate | date:'MMM dd, HH:mm'}}</h1>

    <p ng-if="game.comment"> {{game.comment}}</p>

    <div ng-show="settingScore && $root.me.admin" class="set-score-block">

        <div>
            <input class="set-score-input" type="number" min="0" value="0" ng-model="redTeamScore"/>
            :
            <input class="set-score-input" type="number" min="0" value="0" ng-model="blueTeamScore"/>
        </div>
        <button class="btn btn-primary set-score-save" ng-click="saveScore(game, redTeamScore, blueTeamScore)">Save score</button>
    </div>
    <div ng-show="game.redTeamScore >= 0 && game.blueTeamScore >= 0" class="set-score-block">

        <div>
            {{game.redTeamScore}}
            :
            {{game.blueTeamScore}}
        </div>
    </div>
    <div class="clearfix">
        <div class="col-md-6" style="border-right: 1px dashed rgb(206, 206, 206);">
            <h2>Red Team</h2>
            <table class="table">
                <tr ng-repeat="player in game.players">
                    <td ng-show="$root.me.admin">
                        <a class="throwUser" ng-click="throwUser(game, player.google.email)">
                            <span class="glyphicon glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    <td>
                        {{player.google.name}}
                    </td>
                    <td>
                        <span>
                            <span ng-bind="getRatio(player)"></span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Blue Team</h2>
            <table class="table">
                <tr ng-repeat="player in game.players">
                    <td>
                        <a class="throwUser" ng-click="throwUser(game, player.google.email)">
                            <span class="glyphicon glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    <td>
                        {{player.google.name}}
                    </td>
                    <td>
                        <span>
                            <span ng-bind="getRatio(player)"></span>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="jumbotron ng-scope" ng-if="games.length == 0">
    No archived games
</div>