<div class="jumbotron ng-scope" ng-repeat="game in games">

    <div class="game-upper-buttons" ng-show="$root.me.admin">
        <button class="btn btn-default btn-xs game-set-score" ng-click="startEditing()">Edit</button>
        <button class="btn btn-danger btn-xs game-remove" ng-click="remove(game)">X</button>
    </div>


    <div class="info" ng-show="!gameEdit">
        <h1>{{game.gameDate | date:'MMM dd, HH:mm'}}</h1>

        <p ng-if="game.comment"> {{game.comment}}</p>
    </div>

    <div class="edit" ng-show="gameEdit && $root.me.admin">
        <form class="form-horizontal" ng-submit="edit(game, date, comment)">
            <div growl-notifications></div>
            <fieldset>

                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="datetimepicker">Date</label>

                    <div class="col-md-4">
                        <input ng-model="date" name="datetimepicker" type="text" placeholder="Date"
                               class="form-control input-md datetimepicker" required="">

                    </div>
                </div>

                <!-- Textarea -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="comment">Extra info</label>

                    <div class="col-md-8">
                        <textarea ng-model="comment" placeholder="" class="form-control comment" name="comment"></textarea>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-3 control-label" for="singlebutton"></label>

                    <div class="col-md-1">
                        <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="clearfix">
        <div class="col-md-6" style="border-right: 1px dashed rgb(206, 206, 206);">
            <h2>Red Team</h2>
            <table class="table">
                <tr ng-repeat="player in game.redTeam">
                    <td ng-show="$root.me.admin">
                        <a class="throwUser" ng-click="throwUser(game, player)">
                            <span class="glyphicon glyphicon glyphicon-remove"></span>
                        </a>
                    </td>
                    <td>
                        {{getPlayerFromGameByEmail(player, game).google.name}}
                    </td>
                    <td>
                        <span>
                            <a class="ratio" title="Win/Lose" ng-bind="getRatio(getPlayerFromGameByEmail(player, game))"></a>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Blue Team</h2>
            <table class="table">
                <tr ng-repeat="player in game.blueTeam">
                    <td>
                        <span>
                            <a class="ratio" title="Win/Lose" ng-bind="getRatio(getPlayerFromGameByEmail(player, game))"></a>
                        </span>
                    </td>
                    <td>
                        {{getPlayerFromGameByEmail(player, game).google.name}}
                    </td>
                    <td  ng-show="$root.me.admin">
                        <a class="throwUser" ng-click="throwUser(game, player)">
                            <span class="glyphicon glyphicon glyphicon-remove"></span>
                        </a>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    <!--<pre>-->
        <!--{{game | json}}-->
    <!--</pre>-->
    <hr/>
    <button class="btn btn-primary btn-sm" ng-click="join(game)" ng-show="!alreadyJoined(game)">Join</button>
    <button class="btn btn-danger btn-sm" ng-click="leave(game)" ng-show="alreadyJoined(game)">Leave</button>
</div>

<div class="jumbotron ng-scope" ng-if="games.length == 0">
    No upcoming games
</div>